.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    margin-right: 20px;
}

.show-info {
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}